@model SemesterProjectManager.Web.ViewModels.EditTopicViewModel

@{
    ViewData["Title"] = "Details";
}

<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(../../images/page-banner-2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont pb-20">
                    <!--The padding here is changing the length of the image, fix it*-->
                    <h2>Details</h2>
                    <h3 class="text-white">Topic</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Topics</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

@*<div class="container">*@
    <div>
        @Html.HiddenFor(m => m.SubjectId)
    </div>
    <div>

        <section id="corses-singel" class="pb-20 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="corses-singel-left mt-30">
                            <div class="title">
                                <h3>@Model.Title</h3>
                            </div> <!-- title -->
                            <div class="course-terms">
                                <ul>
                                    <li>
                                        <div class="teacher-name">
                                            <div class="thum">
                                                <img src="../../images/course/teacher/t-1.jpg" alt="Teacher">
                                            </div>
                                            <div class="name">
                                                <span>Teacher</span>
                                                <h6>@Html.DisplayFor(model => model.TeacherFullName)</h6>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div> <!-- course terms -->

                            <div class="corses-singel-image pt-50">
                                <img src="../../images/course/cu-1.jpg" alt="Courses">
                            </div> <!-- corses singel image -->

                            <div class="corses-tab mt-30">
                                <ul class="nav nav-justified" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="instructor-tab" data-toggle="tab" href="#instructor" role="tab" aria-controls="instructor" aria-selected="false">Instructor</a>
                                    </li>
                                    @if(this.User.IsInRole("Teacher"))
                                     { 
                                         <li class="nav-item">
                                             <a id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Tasks</a>
                                         </li>
                                     } 
                                </ul>

                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                        <div class="overview-description">
                                            <div class="singel-description pt-40">
                                                <h6>Topic Summary</h6>
                                                <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>
                                            </div>
                                            <div class="singel-description pt-40">
                                                <h6>Requrements</h6>
                                                <p>@Html.DisplayFor(Model => Model.Description)</p>
                                                @*<p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>*@
                                            </div>
                                        </div> <!-- overview description -->
                                    </div>
                                    <div class="tab-pane fade" id="curriculam" role="tabpanel" aria-labelledby="curriculam-tab">
                                    </div>
                                    <div class="tab-pane fade" id="instructor" role="tabpanel" aria-labelledby="instructor-tab">
                                        <div class="instructor-cont">
                                            <div class="instructor-author">
                                                <div class="author-thum">
                                                    <img src="../../images/instructor/i-1.jpg" alt="Instructor">
                                                </div>
                                                <div class="author-name">
                                                    <a href="#"><h5>Sumon Hasan</h5></a>
                                                    <span>Senior WordPress Developer</span>
                                                    <ul class="social">
                                                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="instructor-description pt-25">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus fuga ratione molestiae unde provident quibusdam sunt, doloremque. Error omnis mollitia, ex dolor sequi. Et, quibusdam excepturi. Animi assumenda, consequuntur dolorum odio sit inventore aliquid, optio fugiat alias. Veritatis minima, dicta quam repudiandae repellat non sit, distinctio, impedit, expedita tempora numquam?</p>
                                            </div>
                                        </div> <!-- instructor cont -->
                                    </div>
                                    <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">

                                        <div class="reviews-cont">
                                            @*<div class="title">
                                                <h6>@Html.DisplayNameFor(model => model.Tasks)</h6>
                                            </div>*@
                                            <ul>

                                                @if (this.User.IsInRole("Teacher"))
                                                {
                                                    @if (Model.Tasks != null)
                                                    {
                                                        foreach (var item in Model.Tasks)
                                                        {
                                                            <li>
                                                                <div class="singel-reviews row">
                                                                    <div class="reviews-author col-md-7">
                                                                        <div class="author-thum">
                                                                            <img src="../../images/review/r-1.jpg" alt="Reviews">
                                                                        </div>
                                                                        <div class="author-name">
                                                                            <h6>@Html.DisplayFor(modelItem => item.StudentFullName)</h6>
                                                                            <span><i class="fa fa-calendar"></i> @Html.DisplayFor(modelItem => item.CreatedOn)</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="singel-publication">
                                                                            <div class="cont">
                                                                                <div >
                                                                                    @Html.DisplayFor(modelItem => item.IsApproved)
                                                                                </div>
                                                                                <div class="col">
                                                                                    <div class="button text-right">
                                                                                        <a class="main-btn hover-success" style="width: 69px" asp-controller="Tasks" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col">
                                                                                    <div class="button text-left">
                                                                                        <a class="main-btn hover-danger" style="width: 69px;" asp-controller="Tasks" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div> <!-- singel reviews -->
                                                            </li>
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </div> <!-- reviews cont -->

                                    </div>
                                </div> <!-- tab content -->
                            </div>
                        </div> <!-- corses singel left -->

                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <div class="course-features mt-30">
                                    <h4>Topic details</h4>
                                    <ul>
                                        <li><i class="fa fa-user-o"></i>@Html.DisplayNameFor(model => model.Tasks):<span>@Html.DisplayFor(model => model.Tasks)</span></li>
                                        <li><i class="fa fa-clock-o"></i>Deadline : <span>20/05/2020</span></li>
                                        @if (this.User.IsInRole("Student"))
                                        {
                                            <li>
                                                <i class="fa fa-check-circle"></i>
                                                @Html.DisplayNameFor(model => model.StateOfApproval):
                                                <span>@Html.DisplayFor(model => model.StateOfApproval)</span>
                                            </li>
                                        }
                                    </ul>
                                    <div>
                                        @if (this.User.IsInRole("Student") && Model.Tasks.All(x => x.IsApproved == false))
                                        {
                                            <div class="price-button pt-10">
                                                <a class="main-btn" asp-controller="Tasks" asp-action="Create" asp-route-id="@Model.Id" asp-route-subjectId="@Model.SubjectId">Create Task</a>
                                            </div>
                                        }
                                        @if (this.User.IsInRole("Student") && Model.Tasks.Any(x => x.IsApproved == true))
                                         {
                                             <div class="">
                                                 <form method="post" enctype="multipart/form-data" asp-controller="Projects" asp-action="Upload" asp-route-id="@Model.Id">
                                                     @Html.HiddenFor(m => m.Project.TopicId)
                                                     <div class="form-group">
                                                         <div class="pt-10">
                                                             <h6 class="pb-10">Upload project file</h6>
                                                             <input class="form-control" name="files" type="file" />
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         <div class="pt-20">
                                                             <input class="main-btn" type="submit" value="Upload" />
                                                         </div>
                                                     </div>
                                                 </form>
                                             </div>
                                         }
                                    </div>
                                    @if (TempData["Success"] != null)
                                     {
                                         <div class="pt-20">
                                             <div class="alert alert-success" role="alert">
                                                 @TempData["Success"]
                                             </div>
                                         </div>      
                                     } 
                                     else if (TempData["Fail"] != null)
                                     {
                                         <div class="pt-20">
                                             <div class="alert alert-danger" role="alert">
                                                 @TempData["Fail"]
                                             </div>
                                         </div>      
                                     }
                                    @*<div class="price-button pt-10">
            <span>Price : <b>$25</b></span>
            <a href="#" class="main-btn">Enroll Now</a>
        </div>*@
                                </div> <!-- course features -->
                            </div>
                        </div>
                    </div>
                </div> <!-- row -->

                <div class="row mb-3 pt-10">
                    <div class="col">
                        <a class="previous" asp-controller="Subjects" asp-action="Details" asp-route-id="@Model.SubjectId">
                            Back to List
                        </a>
                    </div>
                </div>
            </div> <!-- container -->
        </section>
    </div>
@*</div>*@
