@model IEnumerable<SemesterProjectManager.Web.ViewModels.TaskViewModel>

@{
    ViewData["Title"] = "All";
}

<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(../images/page-banner-2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont pb-20">
                    <!--The padding here is changing the length of the image, fix it*-->
                    <h2>Tasks</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Tasks</li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
        <p>
            @*@if (User.IsInRole("Teacher"))
                {
                    <div>
                        <a class="main-btn" asp-action="Create">Create New</a>
                    </div>
                }*@
        </p>
    </div> <!-- container -->
</section>

<section id="teachers-page" class="pt-90 pb-120 gray-bg">
    <div class="container">
        <div>
            <div class="">
                <ul>
                    @foreach (var item in Model)
                    {
                        {
                            var items = item.StudentFullName.Split(" ");
                            var initials = $"{items[0][0]}{items[1][0]}";
                        <li>
                            <div class="singel-publication row">
                                <div class="reviews-author col-1">
                                    <div class="mt-2" id="profileImage">
                                        <span>@initials</span>
                                    </div>
                                </div>
                                <div class="author-name col-3 mt-3 remove-padding-left">
                                    <h6>@Html.DisplayFor(modelItem => item.StudentFullName)</h6>
                                    <span><i class="fa fa-calendar"></i> @Html.DisplayFor(modelItem => item.CreatedOn)</span>
                                </div>
                                <div class="col-4 mt-3 text-break text-center">
                                    <h6>@item.TopicName</h6>
                                    <span>@item.SubjectName</span>
                                </div>
                                <div class="col-3 task-list-margin">
                                    <div class="mt-3">
                                        <div class="cont ">
                                            <div>
                                                @Html.DisplayFor(modelItem => item.IsApproved)
                                            </div>
                                            <div class="col-2 ml-4">
                                                <div class="button">
                                                    <a class="main-btn hover-success" style="width: 69px" asp-controller="Tasks" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                                </div>
                                            </div>
                                            <div class="col-2 ml-5">
                                                <div class="button">
                                                    <a class="main-btn hover-danger" style="width: 69px;" asp-controller="Tasks" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- singel reviews -->
                        </li>
                        <hr />
                        }
                    }
                </ul>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
