@model IEnumerable<SemesterProjectManager.Web.ViewModels.SubjectViewModel>

@{ ViewData["Title"] = "Subjects";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(../images/page-banner-2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont pb-20">
                    <!--The padding here is changing the length of the image, fix it*-->
                    <h2>Subjects</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Subjects</li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
        <p>
            @if (!User.IsInRole("Student"))
             {
                <div>
                    <a class="main-btn" asp-action="Create">Create New</a>
                </div>
             }
        </p>
    </div> <!-- container -->
</section>

<section id="teachers-page" class="pt-20 pb-120 gray-bg">
    <div class="container">
        <div class="row">
                @foreach (var item in Model)
                {
                     <div class="col-lg-3 col-md-6 col-sm-8">
                         <div class="singel-teachers mt-30 text-center">
                             <div class="image">
                                 <img src="../images/subject/s-1.png" alt="Teachers">
                             </div>
                             <div class="cont">
                                 <a asp-action="Details" asp-route-id="@item.Id"><h6>@Html.DisplayFor(modelItem => item.Name)</h6></a>
                                 <span>@Html.DisplayFor(modelItem => item.TeacherFullName)</span>
                                 @*<span>@Html.DisplayFor(modelItem => item.FacultyNumber)</span>*@
                             </div>
                         </div>
                         @if (!User.IsInRole("Student"))
                          {
                              <div class="singel-publication">
                                  <div class="cont">
                                      <div class="button text-left" >
                                          <a class="main-btn hover-success" style="width: 69px" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                      </div>
                                      <div class="button text-right">
                                          <a class="main-btn hover-danger" style="width: 69px;" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                      </div>
                                  </div>
                              </div>
                          }
                     </div>
                 }
        </div> <!-- row -->
    </div> <!-- container -->
</section>
