@model SemesterProjectManager.Web.ViewModels.SubjectDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(../../images/page-banner-2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont pb-20">
                    <!--The padding here is changing the length of the image, fix it*-->
                    <h2>Details</h2>
                    <h3 class="text-white">Subject</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Subjects</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@Html.DisplayFor(m => m.Name)</li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!-------------------------------------------------------------------------------------------------------------------------------------->


<section id="teachers-singel" class="pt-70 pb-120 gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8">
                <div class="teachers-left mt-50">
                    <div class="hero">
                        <img src="../../../images/subject/s-1.png" alt="Teachers">
                    </div>
                    <div class="corses-singel-left remove-padding">
                        <div class="course-terms">
                            <ul>
                                <li>
                                    <div class="teacher-name">
                                        <div class="thum subject-singel-teacher-img-margin">
                                            <img src="../../images/course/teacher/t-1.jpg" alt="Teacher">
                                        </div>
                                        <div class="name">
                                            <span>@Html.DisplayNameFor(model => model.TeacherFullName)</span>
                                            <h6>@Html.DisplayFor(model => model.TeacherFullName)</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    @*<div class="name">
                        <h6>Mark alen</h6>
                        <span>Vice chencelor</span>
                    </div>*@
                    <div class="social">
                    </div>
                    <div class="description">
                    </div>
                </div> <!-- teachers left -->
            </div>
            <div class="col-lg-8">
                <div class="teachers-right mt-50">
                    <ul class="nav nav-justified" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
                        </li>
                        @*<li class="nav-item">
                            <a id="courses-tab" data-toggle="tab" href="#courses" role="tab" aria-controls="courses" aria-selected="false">Courses</a>
                        </li>*@
                    </ul> <!-- nav -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                            <div class="dashboard-cont">
                                <div class="singel-dashboard pt-40">
                                    <h5>@Html.DisplayNameFor(model => model.Description)</h5>
                                    <p>@Html.DisplayFor(model => model.Description)</p>
                                    <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>
                                </div> <!-- singel dashboard -->
                            </div> <!-- dashboard cont -->
                        </div>
                        <div class="tab-pane fade" id="courses" role="tabpanel" aria-labelledby="courses-tab">
                            <div class="courses-cont pt-20">
                                <div class="row">
                                    
                                </div> <!-- row -->
                            </div> <!-- courses cont -->
                        </div>
                        
                    </div> <!-- tab content -->
                </div> <!-- teachers right -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
<div class="gray-bg">
    <div class="container">

        <section>
            <div class="row">
                <div class="col pt-20 pb-20">
                    <h2>@Html.DisplayNameFor(model => model.Topics)</h2>
                    @if (!this.User.IsInRole("Student"))
                    {
                        <div class="pt-10 pb-10">
                            <a class="main-btn" asp-route-subjectId="@Model.Id" asp-controller="Topics" asp-action="Create">Create</a>
                        </div>
                    }
                </div>
            </div>
        </section>

        <section id="teachers-page">
                <div class="row">
                        @if (Model.Topics != null)
                        {
                            @foreach (var item in @Model.Topics)
                            {
                                <div class="col-lg-3 col-md-6 col-sm-8">
                                 <div class="singel-teachers mt-30 text-center">
                                     <div class="image">
                                         <img src="../../../images/subject/s-1.png" alt="Teachers">
                                     </div>
                                     <div class="cont">
                                         <a class="text-center" asp-controller="Topics" asp-action="Details" asp-route-id="@item.Id">
                                             <h6>@Html.DisplayFor(modelItem => item.Name)</h6>
                                         </a>
                                     </div>
                                 </div>
                                 @if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
                                  {
                                      <div class="singel-publication">
                                          <div class="cont">
                                              <div class="button text-left" >
                                                  <a class="main-btn hover-success" style="width: 69px" asp-controller="Topics" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                              </div>
                                              <div class="button text-right">
                                                  <a class="main-btn hover-danger" style="width: 69px;" asp-controller="Topics" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                              </div>
                                          </div>
                                      </div>
                                  }
                                </div>
                            }
                        }
                </div> <!-- row -->
                @*</div>*@  <!-- row -->
        </section>
    </div>
</div>
