@model SemesterProjectManager.Web.ViewModels.SubjectDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherFullName)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topics)
                @if (User.IsInRole("Teacher"))
                {
                    <a asp-route-subjectId="@Model.Id" asp-controller="Topics" asp-action="Create">Create New</a>
                }
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Topics != null)
        {
            foreach (var item in Model.Topics)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @if (User.IsInRole("Teacher"))
                        {
                            <a asp-controller="Topics" asp-action="Edit" asp-route-subjectId="@Model.Id" asp-route-id="@item.Id">Edit</a>
                            <a asp-controller="Topics" asp-action="Delete" asp-route-subjectId="@Model.Id" asp-route-id="@item.Id">Delete</a>
                        }
                        <a asp-controller="Topics" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div>
    @*@if (User.IsInRole("Teacher"))
    {
        <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    }*@
    <a asp-action="All">Back to List</a>
</div>
