@model IEnumerable<SemesterProjectManager.Web.ViewModels.ProjectViewModel>

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Projects</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacultyNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th colspan="3">
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FacultyNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TopicName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td colspan="3">
                    @if (item.Score == 0)
                    {
                        <p>Not rated</p>
                        @Html.DisplayText("Not rated")
                    }
                    else
                    {
                        <p>@Html.DisplayFor(modelItem => item.Score)/100</p>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> @*|
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
